@media screen and (max-width:1000px) {
    header nav .img h2{
        right: 15px;
    }
}

@media screen and (max-width: 850px){
    header nav .img h2{
        right: 40px;
    }
    header nav ol{
        position: absolute;
        top: 48px;
        left: 0;
        width: 100%;
        background-color: rgb(0, 0, 0);
        text-align: center;
        margin: 0;
        padding: 10px 0;
        height: 0;
        overflow: hidden;
        transition: 0.5s;
        z-index: -1;
    }
    header nav ol li{
        display: block;
        margin: 0;
        padding: 10px 0;
    }
    header nav ol li a{
        color: #ddd;
    }
    header nav ol a::before{
        background-color: #ddd;
    }
    header nav .res{
        display: block;
    }
    footer{
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    footer .info{
        padding: 10px 0;
        justify-content: center;
        align-items: center;
    }
    footer .info .span{
        margin-left: 30px;
    }
    footer .myself{
        justify-content: center;
        width: 100%;
        margin-right: 0;
    }
}
@media screen and (max-width:460px) {
    footer .info{
        padding: 10px 0;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    footer .info .span:nth-child(2){
        margin-top: 20px;
    }
}